
<footer id="pie">
    <div class="container px-5">
        <div class="row">
            <div class="col-12 col-sm-6 py-3 flex-fill text-center text-white">
                <span class="fs-5 align-middle">Creado por Maximiliano Jaque para Edutecno - 2022</span>
            </div>

            <div class="col-12 col-sm-6 flex-fill  text-center">
                <a href="https://github.com/maxijaque" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Presione para ingresar a github" class="text-white"><i
                        class="fab fa-github-square fa-2x px-2 py-3"></i></a>
                <a href="https://www.linkedin.com/in/maximiliano-jaque-fern%C3%A1ndez-13a69718a/"
                    data-bs-toggle="tooltip" data-bs-placement="top" title="Presione para ingresar a linkedin"
                    class="text-white"><i class="fab fa-linkedin fa-2x  px-2 py-3"></i></a>
                <a href="https://twitter.com" data-bs-toggle="tooltip" data-bs-placement="top"
                    title="Presione para ingresar a twitter" class="text-white"><i
                        class="fab fa-twitter-square fa-2x  px-2 py-3"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100007205415608" data-bs-toggle="tooltip"
                    data-bs-placement="top" title="Presione para ingresar a facebook" class="text-white"><i
                        class="fab fa-facebook-square fa-2x  px-2 py-3"></i></a>
            </div>
        </div>
    </div>

</footer>