{% extends 'base.html' %}
{% block 'content' %}        

<div class="container mt-5 pt-3">
    
    <div class="row">
        <div class="col">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>
                    Nuestros productos
                </h2>
                <p>
                    OnlyFlans nace en el año 2021 buscando entregar flanes de calidad.
                </p>
                <a href="{% url 'acerca' %}" class="btn btn-outline-light">
                    Conoce más
                </a>
            </div>

        </div>

    </div>
    

    <div class="row d-flex ">
        {% for flan in public_flans %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3">
            <div class="card my-2 mx-auto " style="width: 18rem; ">
                <img src="{{ flan.image_url}}" class="card-img-top" alt="..." style="height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">
                        {{flan.name}} 
                    </h5>
                    <p class="card-text">
                        {{flan.description}}
                    </p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}